.login { 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login > img { 
    height: 50px;
}

.login > form { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > form > input{ 
    width: 350px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.login > form > button { 
    width: 365px;
    height: 50px;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
    border-radius: 5px;
    cursor: pointer;
}

.register {
    color: #0177b7;
    cursor: pointer;
}

.login > p { 
    margin-top: 10px;
}